/* reset  */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(244, 234, 234);
}
h1,h2,h3,h4,h5{
    color: #333;
}

p,
lable{
    color: #4e4e4e;
}

input{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;

}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"]{
    width: 300px;
}

.header{
    height: 160px;
    padding: 20px;
    background-color: rgb(165, 11, 179);
}

.header h3{
    color: white;
    margin-top: 0;
}

textarea{
    padding: 10px;
}

.form-container{
    background-color: #fdfdfd;
    width: 60%;
    margin-left: 20%;
    margin: 0 auto;
    position: relative;
}

.form-header{
    border-bottom: 1px solid #673ab7;
    height: 45px;
}

.form-header p{
    color: #673ab7;
    border-bottom: 2px solid #673ab7;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    line-height: 45px;
}

.form-body{
    padding: 30px;
}

.form-title{
    margin-bottom: 15px;
}

.form-body p{
    margin-bottom: 20px;
}

.required-field{
    color: red;
}

.box-input{
    margin-bottom: 35px;
}

.block{
    display: block;
}
.opitional-box{
    display: inline-block;
    margin: 0 30px 30px 0; 

}
.opitional-list{
    list-style: none;
}